.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #000;
}

.logo {
    height: 1.25rem;
    margin-block-start: 1.25rem;
    margin-inline-start: 1%;
}

.content {
    padding: 1rem;
}
