.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: rgb(255 255 255);
    margin-block-start: 4rem;
    z-index: 1;
}

.subtitle:last-child {
    margin-top: 0.5rem;
    line-height: 1.6875rem;
}
